datasets
sentence-transformers
scispacy
spacy
neo4j
graphdatascience
hdbscan
scikit-learn
umap-learn
plotly
matplotlib
pyvis
rouge-score
bert-score
streamlit
openai
python-dotenv
tqdm
pandas
numpy
tiktoken
groq
faiss-cpu
fastapi
uvicorn
